:root {
  font-family: Verdana, "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, sans-serif, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* App Color scheme */
  --background-color: black;
  --primary-color: rgb(225, 29, 72);
  --secondary-color: rgb(136, 19, 55);
  --tertiary-color: rgb(16, 13, 13);
  --text-color: white;

  /* Apply font styles */
  body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    font-synthesis: var(--font-synthesis);
    text-rendering: var(--text-rendering);
    -webkit-font-smoothing: var(--webkit-font-smoothing);
    -moz-osx-font-smoothing: var(--moz-osx-font-smoothing);

    font-size: 16px;
  }

  /* Box model */
  --margin: 0;
  --padding: 0;
  --box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
}

/*     ======> Swiper CSS Styles <======= */
.swiper-button-prev,
.swiper-button-next {
  font-size: 18px;
  background-color: transparent;
  padding: 20px 20px;
  border: 1px solid white;
  color: rgb(225, 29, 72);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 28px;
  color: rgb(225, 29, 72);
}

.swiper-pagination-bullet {
  background-color: white !important;
}
.swiper-pagination-bullet-active {
  background-color: rgb(225, 29, 72) !important;
}

/* OR */

.swiper-pagination-progressbar {
  background-color: rgb(225, 29, 72) !important;
}

.swiper {
  z-index: 0;
}

/*     ======> Scroll bar CSS styles <======= */
::-webkit-scrollbar {
  width: 10px;
}

/* Color of the scrollbar track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* For WebKit based browsers like Chrome and Safari */
/* Width of the scrollbar */
scrollbar-width: thin;

/* Color of the scrollbar thumb */
scrollbar-color: #888 #f1f1f1;
