.movieCard {
  /* min-height: 300px;
  max-height: 400px; */
  min-height: 400px;
  max-height: 400px;
  width: 100%;
  /* background-color: rgb(16, 13, 13); */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  padding: 10px;
}

.movieCard:hover {
  background-color: var(--primary-color);
}
.movieImage {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.movieTitle {
  font-size: 1.6rem;
  color: var(--text-color);
}
.movieYear {
  font-weight: 100;
  font-size: 1.4rem;
  color: gray;
}
