.container {
  padding: 20px 5%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.heading {
  font-size: 2.8rem;
  width: fit-content;
  margin: 0 auto;
}

.reviewsList {
  height: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;
}

.addMovie {
  background-color: var(--primary-color);
  border-radius: 5px;
  display: flex;
  column-gap: 5px;
  align-items: center;
  border: none;
  font-size: 1.6rem;
  padding: 10px;
  color: var(--text-color);
  width: fit-content;
  align-self: flex-end;
  cursor: pointer;
}

.addMovie:hover {
  background-color: var(--secondary-color);
}
.reviewTextEdit {
  height: 70px;
  padding: 10px;
  font-size: 14px;
  border: 2px solid transparent;
  border-radius: 5px;
  resize: vertical; /* Allows vertical resizing */
}

.reviewTextEdit:focus {
  outline: none; /* Removes the default focus outline */
  border-color: var(--primary-color); /* Changes border color when focused */
}

.reviewActions {
  display: flex;
  justify-content: end;
  column-gap: 10px;
  align-items: first baseline;
}

.save,
.cancel {
  padding: 5px;
  font-size: 12px;
  width: fit-content;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.save,
.cancel:hover {
  background-color: var(--secondary-color);
}

.addReviewContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.noReviews {
  color: var(--text-color);
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
